In [ ]:
# LOAD THE DATASET

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv('data/ai-dev-data.csv')
df.head()

,User_ID,Day,Experience_Level,AI_Tool_Usage_%,Hours_Coded,Code_Complexity_Score,Bugs_Introduced,Tasks_Completed,Stress_Level_1_10,Current_Burnout_Score,Burnout_Risk
0,DEV_0001,1,Junior,26.7,7.4,5,2,6.98,5,97.0,High
1,DEV_0001,2,Junior,0.0,11.6,3,2,8.35,6,97.0,High
2,DEV_0001,3,Junior,18.7,7.7,9,3,7.11,6,97.0,High
3,DEV_0001,4,Junior,13.0,7.7,7,3,7.10,6,97.0,High
4,DEV_0001,5,Junior,22.8,7.6,6,3,7.05,6,96.5,High