In [1]:
import pandas as pd

df = pd.read_csv("data/NIRF Ranking 2025.csv")

df.head()

,Institute ID,Institute Name,TLR,RPC,GO,OI,PERCEPTION,City,State,Score,Rank
0,IR-O-U-0456,Indian Institute of Technology Madras,90.58,88.02,87.01,63.34,100.00,Chennai,Tamil Nadu,87.31,1
1,IR-O-U-0220,Indian Institute of Science,86.47,88.16,83.69,60.29,98.41,Bengaluru,Karnataka,85.00,2
2,IR-O-U-0306,Indian Institute of Technology Bombay,83.79,83.05,86.04,60.13,83.35,Mumbai,Maharashtra,81.62,3
3,IR-O-I-1074,Indian Institute of Technology Delhi,80.52,86.67,74.71,63.54,92.23,New Delhi,Delhi,80.67,4
4,IR-O-I-1075,Indian Institute of Technology Kanpur,86.36,72.12,82.01,60.38,72.56,Kanpur,Uttar Pradesh,77.25,5

In [5]:
df.info()
df.columns
df.shape

<class 'pandas.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Institute ID    100 non-null    str
 1   Institute Name  100 non-null    str
 2   TLR             100 non-null    float64
 3   RPC             100 non-null    float64
 4   GO              100 non-null    float64
 5   OI              100 non-null    float64
 6   PERCEPTION      100 non-null    float64
 7   City            100 non-null    str
 8   State           100 non-null    str
 9   Score           100 non-null    float64
 10  Rank            100 non-null    int64
dtypes: float64(6), int64(1), str(4)
memory usage: 8.7 KB

(100, 11)

In [ ]:
# ques 1: Which college is ranked 1st in the NIRF Ranking 2025?
# ques 2: Show the top 5 institutes based on Score.
# ques 3: Find the average Score of all institutes.
#  ques 4: List all institutes located in "Delhi".
# ques 5: Show Institute Name, City, and Rank columns only.
# ques 6 (bonus): Count how many institutes exist in each State.
# ques 7 (bonus): Find the institute with the highest PERCEPTION score.

In [6]:
# ================================
# Q1: Which college is ranked 1st?
# ================================

# Filter rows where Rank == 1
rank1_college = df[df["Rank"] == 1]

print("\nQ1: College ranked 1st in NIRF 2025:\n")
print(rank1_college)


# =========================================
# Q2: Show the top 5 institutes by Score
# =========================================

# Sort by Score in descending order and take first 5 rows
top5_score = df.sort_values("Score", ascending=False).head(5)

print("\nQ2: Top 5 institutes based on Score:\n")
print(top5_score)


# =========================================
# Q3: Find the average Score of all institutes
# =========================================

# Calculate mean of Score column
avg_score = df["Score"].mean()

print("\nQ3: Average Score of all institutes:\n")
print(avg_score)


# =========================================
# Q4: List all institutes located in Delhi
# =========================================

# Filter where City == Delhi
delhi_institutes = df[df["City"] == "Delhi"]

print("\nQ4: Institutes located in Delhi:\n")
print(delhi_institutes)


# =========================================
# Q5: Show Institute Name, City, and Rank only
# =========================================

# Select specific columns
selected_columns = df[["Institute Name", "City", "Rank"]]

print("\nQ5: Institute Name, City, and Rank columns:\n")
print(selected_columns)


# =========================================
# Q6 (BONUS): Count institutes in each State
# =========================================

# Count values in State column
state_counts = df["State"].value_counts()

print("\nQ6: Number of institutes in each State:\n")
print(state_counts)


# =========================================
# Q7 (BONUS): Institute with highest PERCEPTION score
# =========================================

# Find index of max PERCEPTION value
max_perception_index = df["PERCEPTION"].idxmax()

# Get full row of that institute
highest_perception = df.loc[max_perception_index]

print("\nQ7: Institute with highest PERCEPTION score:\n")
print(highest_perception)

Q1: College ranked 1st in NIRF 2025:

  Institute ID                         Institute Name    TLR    RPC     GO  \
0  IR-O-U-0456  Indian Institute of Technology Madras  90.58  88.02  87.01

      OI  PERCEPTION     City       State  Score  Rank
0  63.34       100.0  Chennai  Tamil Nadu  87.31     1

Q2: Top 5 institutes based on Score:

  Institute ID                         Institute Name    TLR    RPC     GO  \
0  IR-O-U-0456  Indian Institute of Technology Madras  90.58  88.02  87.01
1  IR-O-U-0220            Indian Institute of Science  86.47  88.16  83.69
2  IR-O-U-0306  Indian Institute of Technology Bombay  83.79  83.05  86.04
3  IR-O-I-1074   Indian Institute of Technology Delhi  80.52  86.67  74.71
4  IR-O-I-1075  Indian Institute of Technology Kanpur  86.36  72.12  82.01

      OI  PERCEPTION       City          State  Score  Rank
0  63.34      100.00    Chennai     Tamil Nadu  87.31     1
1  60.29       98.41  Bengaluru      Karnataka  85.00     2
2  60.13       83.35     Mumbai    Maharashtra  81.62     3
3  63.54       92.23  New Delhi          Delhi  80.67     4
4  60.38       72.56     Kanpur  Uttar Pradesh  77.25     5

Q3: Average Score of all institutes:

57.7612

Q4: Institutes located in Delhi:

   Institute ID       Institute Name    TLR    RPC     GO     OI  PERCEPTION  \
14  IR-O-U-0120  University of Delhi  60.65  58.51  96.94  70.15       40.55

     City  State  Score  Rank
14  Delhi  Delhi  66.19    15

Q5: Institute Name, City, and Rank columns:

                                       Institute Name       City  Rank
0               Indian Institute of Technology Madras    Chennai     1
1                         Indian Institute of Science  Bengaluru     2
2               Indian Institute of Technology Bombay     Mumbai     3
3                Indian Institute of Technology Delhi  New Delhi     4
4               Indian Institute of Technology Kanpur     Kanpur     5
..                                                ...        ...   ...
95                                  Christ University  Bengaluru    96
96           National Institute of Technology Silchar    Silchar    97
97                          Manipal University Jaipur     Jaipur    98
98      Madan Mohan Malaviya University of Technology  Gorakhpur    99
99  All India Institute of Medical Sciences Bhuban...    Khordha   100

[100 rows x 3 columns]

Q6: Number of institutes in each State:

State
Tamil Nadu           17
Maharashtra          11
Uttar Pradesh         9
Delhi                 8
Karnataka             6
Punjab                6
Telangana             5
Odisha                5
West Bengal           4
Uttarakhand           4
Rajasthan             4
Kerala                4
Assam                 3
Jammu and Kashmir     3
Madhya Pradesh        2
Chandigarh            2
Andhra Pradesh        2
Jharkhand             1
Bihar                 1
Gujarat               1
Pondicherry           1
Himachal Pradesh      1
Name: count, dtype: int64

Q7: Institute with highest PERCEPTION score:

Institute ID                                IR-O-U-0456
Institute Name    Indian Institute of Technology Madras
TLR                                               90.58
RPC                                               88.02
GO                                                87.01
OI                                                63.34
PERCEPTION                                        100.0
City                                            Chennai
State                                        Tamil Nadu
Score                                             87.31
Rank                                                  1
Name: 0, dtype: object