In [2]:
# Pnadas dataframe creation
import pandas as pd
import numpy as np

# Create a dictionary of data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve','Missing', 'Sameer'],
    'Age': [25, 23, 'Missing', 22, 25, 24, 26],
    'Marks': [85, np.nan, np.nan, 96, 88, 90, 82],
    'Subject': ['Math', 'Physics', 'Math', 'Chemistry', 'Math', 'Physics', 'Chemistry']
}

In [ ]:
# check shape
# diplay data types of columns
# generate statistics of numerical columns (min/max/mean)

# sort dataframe by Marks in decending order
# use specific pandas function to find the top 2 highest scores (scholarship candidates) without sorting the whole dataframe.
# identify the student with lowest marks (remedial candidate)

In [4]:
df = pd.DataFrame(data)
print("DataFrame Shape:", df.shape)
print("\nData Types:\n", df.dtypes)
print("\nStatistics of Numerical Columns:\n", df.describe())

# Sort by Marks in descending order
sorted_df = df.sort_values(by='Marks', ascending=False)
print("\nDataFrame sorted by Marks (descending):\n", sorted_df)
# Find top 2 highest scores without sorting the whole dataframe
top_2_scores = df.nlargest(2, 'Marks')
print("\nTop 2 highest scores without sorting the whole dataframe:\n", top_2_scores)

# Identify the student with lowest marks (remedial candidate)
lowest_score = df.nsmallest(1, 'Marks')
print("\nStudent with the lowest marks (remedial candidate):\n", lowest_score)

DataFrame Shape: (7, 4)

Data Types:
 Name           str
Age         object
Marks      float64
Subject        str
dtype: object

Statistics of Numerical Columns:
            Marks
count   5.000000
mean   88.200000
std     5.310367
min    82.000000
25%    85.000000
50%    88.000000
75%    90.000000
max    96.000000

DataFrame sorted by Marks (descending):
       Name      Age  Marks    Subject
3    David       22   96.0  Chemistry
5  Missing       24   90.0    Physics
4      Eve       25   88.0       Math
0    Alice       25   85.0       Math
6   Sameer       26   82.0  Chemistry
1      Bob       23    NaN    Physics
2  Charlie  Missing    NaN       Math

Top 2 highest scores without sorting the whole dataframe:
       Name Age  Marks    Subject
3    David  22   96.0  Chemistry
5  Missing  24   90.0    Physics

Student with the lowest marks (remedial candidate):
      Name Age  Marks    Subject
6  Sameer  26   82.0  Chemistry

In [ ]:
# data cleaning
# calculate total number of missing values in each column
# filter and display rows where age and marks are missing or np.nan

# look at marks column why are value floats instead of int
# what is the risk of using inplace=true
# groupby in pandas

In [ ]:
df.groupby('Subject')['Marks'].mean()
df.groupby('Subject')['Marks'].agg(['mean', 'min', 'max'])